<ion-header>
  <ion-navbar  color="olivo">
    <ion-title>
      Mis quinielas
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9" style="background-color:#9BC637;">
  <h4 id="misQuinielas-heading11" style="color:#002626;text-align:center;">
    Quinielas a las que estás unido:
  </h4>
  <br>
  <ion-list id="misQuinielas-list9" *ngFor="let quiniela of quinielas" ng-if="quinielas !== undefined">
    <ion-item-sliding>
      <ion-item style="background-color: rgb(53,61,53); color: #efe7da" id="misQuinielas-list-item40" on-tap="irAQuiniela(quiniela)">
        {{quiniela.nombre}}
        <ion-icon name="arrow-round-back" item-right></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button style="background-color: #d65804" on-tap="salirDeQuiniela(quiniela)">
          Salir de quiniela
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>